<div class="container py-5">
  <div class="row">
    <div class="col-12 col-md-5 offset-lg-3">
      <div class="bg-white rounded p-3 shadow">
        <h3>Create a new listing</h3>
        <%= simple_form_for @listing do |f| %>
          <%= f.input :name, placeholder: 'Dish name' %>
          <%= f.input :category, placeholder: 'Cuisine type' %>
          <%= f.input :price, as: :float %>
          <%= f.input :photo, as: :file %>
          <%= f.submit class: 'btn btn-warning' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
