<div class="container-lg">
  <button class="pink-button">
    <%= link_to "< Back", root_path %>
  </button>
<div class="show-page-card">
<%# mom-card %>
  <div class="show-mom-card">
    <img src="https://i.pravatar.cc/" class="show-mom-img"/>
        <%# <%= image_tag @listing.user.photo, class: "avatar-large", alt: "avatar-large"%>
    <div class="show-mom-info">
      <h2><%= Faker::Name.name %></h2>
      <ul>
        <li>Favorite cuisine to cook: <strong><%= Faker::Food.ethnic_category %></strong></li>
        <li>Work: <strong><%= Faker::Job.title %></strong></li>
        <li>Language: <strong><%= Faker::Nation.language %></strong></li>
      </ul>
    </div>
  </div>


  <%# food-card %>
  <div class="show-food-card">
      <% if @listing.photo.attached? %>
      <%= cl_image_tag @listing.photo.key, height: 350, width: 350, crop: :fill %>
    <div class="show-food-info">
      <h2><%= @listing.name %></h2>
      <p>¥<%= @listing.price %></p>
      <p><%= @listing.description %></p>
      <% end %>
      <div class="request-pink-button">
        <button class="pink-button">
        <%= link_to "Request", new_listing_booking_path(@listing) %>
        </button>
      </div>
    </div>
  </div>


  </div>
</div>
