<div class="container">
  <button class="pink-button">
    <%= link_to "< Back", root_path %>
  </button>
<div class="show-page-card">
<%# mom-card %>
  <div class="show-mom-card">
    <div class="show-mom-img">
        <%# <img src="https://i.pravatar.cc/" /> %>
        <%# <%= image_tag @listing.user.photo%>
        <%= cl_image_tag @listing.user.photo.key, crop: :fill %>

   </div>
    <div class="show-mom-info">
      <%# <h2><%= Faker::Name.name %>
      <h2><%= "#{@listing.user.first_name} #{@listing.user.last_name}"  %></h2>
      <ul>
        <li><i class="fa-solid fa-utensils"></i>Favorite cuisine to cook: <strong><%= Faker::Food.ethnic_category %></strong></li>
        <li><i class="fa-solid fa-suitcase"></i>Work: <strong><%= Faker::Job.title %></strong></li>
        <li><i class="fa-solid fa-globe"></i>Language: <strong><%= Faker::Nation.language %></strong></li>
        <li><%= @average %></li>
      </ul>

      <div class="show-mom-review">

        <% if @review %>
          <% @review.rating.times do %>
            <span class="star" data-star="1"><i class="fa-solid fa-star"></i></span>
          <% end %>
        <% end %>
    </div>
  </div>
 </div>

  <%# food-card %>
  <div class="show-food-card">
      <% if @listing.photo.attached? %>
      <%= cl_image_tag @listing.photo.key%>
    <div class="show-food-info">
      <h2><%= @listing.name %></h2>
      <p>¥<%= @listing.price %></p>
      <p><%= @listing.description %></p>
      <% end %>
      <div class="request-pink-button">
        <button class="pink-button">
        <%= link_to "Request", new_listing_booking_path(@listing) %>
        </button>
      </div>
    </div>
  </div>


   <!-- user review -->
   <div class="reviews">
    <div class="show-user-review">
      <h2>Reviews</h2>
      <% if @listing.reviews.any? %>
        <% @listing.reviews.each do |review| %>
          <div class="review">
            <div id="stars">
              <% review.rating.times do %>
                <span class="star" data-star="1"><i class="fa-solid fa-star"></i></span>
              <% end %>
            </div>
            <p><strong><%= review.user.first_name %> <%= review.user.last_name %></strong></p>
            <p><%= review.content %></p>
          </div>
        <% end %>
      <% else %>
        <p>No reviews yet.</p>
      <% end %>
      </div>



<!-- Review Form -->
    <div class="reviews-form">
      <h2>Add a Review</h2>
      <%= simple_form_for [@listing, Review.new] do |f| %>
        <%= f.input :content%>
        <%= f.input :rating, collection: (1..5).to_a, label: "Create review", input_html: {data: { controller: "star-rating", action: "click->form-submit#submit"} } %>
        <%= f.submit "Submit" %>
      <% end %>
    </div>
  </div>
</div>
</div>
