
  <%# food-card %>
<div class="show-card">
  <div class="container">
    <button class="pink-button">
      <%= link_to "< Back", root_path %>
    </button>
    <% if @listing.photo.attached? %>
    <div class="card-product">
     <%= cl_image_tag @listing.photo.key, height: 280, width: 360, crop: :fill %>
      <div class="card-product-infos">
        <h2><%= @listing.name %></h2>
        <p>¥<%= @listing.price %></p>
        <p>Sake onigiri is wrapped with nori seaweed and contains grilled salmon filling.</p>

        <button class="pink-button">
          <%= link_to "Request", new_booking_path %>
        </button>
      </div>
    </div>
    <% end %>

    <%# mom-card %>
    <div class="mom-card">
       <div class="mom-img">
          <img src="https://i.pravatar.cc/" />
          <h2>Mom's name</h2>
        </div>
        <div class="mom-info">
          <h1>Mom's information(optional)</h1>
            <ul>
              <li>Favorite dish to cook: Japanese food</li>
              <li>Work: Nurse</li>
              <li>Lunguage: English</li>
            </ul>
        </div>
     </div>
    </div>
</div>
