
  <%# food-card %>
<div class="show-card">
  <div class="container">

    <button class="pink-button">
      <%= link_to "< Back", root_path %>
    </button>

    <% if @listing.photo.attached? %>
      <div class="card-product">
        <%= cl_image_tag @listing.photo.key, height: 280, width: 360, crop: :fill %>
        <div class="card-product-infos">
          <h2><%= @listing.name %></h2>
          <p>¥<%= @listing.price %></p>
          <p><%= @listing.description %></p>

          <button class="pink-button">
            <%= link_to "Request", new_listing_booking_path(@listing) %>
          </button>
        </div>
      </div>
    <% end %>

    <%# mom-card %>
    <div class="mom-card">
      <div class="mom-img">
        <%= image_tag @listing.user.photo, class: "avatar-large", alt: "avatar-large"%>


        <h2><%= Faker::Name.name %></h2>
      </div>
      <div class="mom-info">
        <h1>Mom's information</h1>
          <ul>
            <li>Favorite cuisine to cook: <strong><%= Faker::Food.ethnic_category %></strong></li>
            <li>Work: <strong><%= Faker::Job.title %></strong></li>
            <li>Language: <strong><%= Faker::Nation.language %></strong></li>
          </ul>
      </div>
    </div>

  </div>
</div>
