

<%# form for booking list %>
<div class=“container m-5”>
<div class=“row justify-content-center m-5”>
  <div class=“col-6">
    <%= simple_form_for(@booking) do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <div class=“form-inputs”>
        <%= f.input :date_time %>
      </div>

      <%# <div class=“form-inputs”>
        <%= f.input :status %>
      </div>

      <div class=“form-actions”>
        <%= f.button :submit %>
      </div>
    <% end %>
      </div>
  </div>
</div>

  <%# <%= link_to "Submit", bookings_path %>

    <%# <%= link_to “Return to all listings”, listings_path %>
