<div class="album py-5 bg-body-tertiary">
<h1 class="text-center my-orders">My Orders</h1>
  <div class="card-container">
    <% if @bookings.any? %>
      <% @bookings.each do |booking| %>
        <% if booking.listing.photo.attached? %>
          <div class="card-horizontal">
            <div class="card-horizontal-image">
              <%= image_tag booking.listing.photo, class: "bd-placeholder-img card-img-top", alt: "Thumbnail", style: "width: 100%; height: 225px;" %>
            </div>
            <div class="card-horizontal-text">
              <h2 class="card-horizontal-title"> <%= booking.listing.name %> </h2>
              <h5 class="card-horizontal-momma"> Made by:  <%= "#{booking.listing.user.first_name} #{booking.listing.user.last_name}" %> </h5>
              <small> <%= booking.listing.description %></small>
              <div class="card-horizontal-status-1">
                <small> Status: <%= booking.status %></small>
              </div>
            </div>
            <div class="card-horizontal-pricing">
              <p> <%= booking.listing.price %>JPY</p>
                <% if booking.status == "pending" %>
                  <%= link_to booking_path(booking), class: "delete-link", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <small>Delete  </small><i class="fa-solid fa-trash"></i>
                  <% end %>
                <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    <% end %>
    <div class="price-container">
      <p>Total Price: <strong><%= @total_price %> JPY </strong></p>
    </div>
  </div>
</div>
