<div class="album py-5 bg-body-tertiary">
  <h1 class="text-center my-orders">Orders Received</h1>
  <div class="card-container">
      <% if @bookings.any? %>
        <% @bookings.each do |booking| %>
          <% if booking.listing.photo.attached? %>
            <div class="card-horizontal">
              <div class="card-horizontal-image">
                <%= image_tag booking.listing.photo, class: "bd-placeholder-img card-img-top", alt: "Thumbnail", style: "width: 100%; height: 225px;" %>
              </div>
              <div class="card-horizontal-text">
                <h2 class="card-horizontal-title"> <%= booking.listing.name %></h2>
                <p class="card-horizontal-date"> <strong><%= "#{booking.date.strftime('%B %d, %Y')} - #{booking.time.strftime('%I:%M %p')}" %></strong></p>
                <p class="card-horizontal-price"> <%= booking.listing.price %> JPY</p>

              </div>
              <div class="card-horizontal-status-2">
                <div class="horizontal-buttons">
                    <% if booking.pending? %>
                      <%= simple_form_for booking, url: momma_booking_path(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'accepted' } %>
                        <div class="button-container">
                          <%= f.submit 'Accept', class: 'btn accept-button' %>
                        </div>
                        <% end %>

                      <%= simple_form_for booking, url: momma_booking_path(booking) do |f| %>
                        <%= f.input :status, as: :hidden, input_html: { value: 'declined' } %>
                        <div class="button-container">
                          <%= f.submit 'Reject', class: 'btn decline-button' %>
                        </div>
                      <% end %>
                    <% else %>
                      <p class='booking-tag'><%= booking.status %></p>
                    <% end %>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      <% else %>
        <p>You don't have any requests.</p>
      <% end %>
  </div>
</div>
