<!DOCTYPE html>
<html>
  <head>
    <title>OkasanFood</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  <!-- Add the StarRating CSS file -->
    <link rel="stylesheet" href="https://ga.jspm.io/npm:star-rating.js@4.3.0/dist/star-rating.css">
    
    <!-- Add the StarRating library (example) -->
  <script src="https://cdn.jsdelivr.net/npm/star-rating.js"></script>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>
    <%# <div class="main-content"> %>
      <%= yield %>
    <%# </div> %>
    <%= render "shared/footer" %>
  </body>
</html>
